html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

li {
  text-decoration: none;
}

#articleBox {
  display: flex;
}

Sidebar {
  flex: 1;
}

article {
  width: 70%;
}
